.main-nav {
  display: flex;
  justify-content: space-between;
  background-color: var(--bg-color-dark);
  padding: 0.5rem 2rem;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
}

#themeBtn {
  background: none;
  border: none;
  font-size: 0.8rem;
  cursor: pointer;
  color: var(--primary-color-dark);
}

.hamburger-toggle {
  display: none;
}

.hamburger-menu {
  display: block;
  cursor: pointer;
  z-index: 1101;
}

.hamburger-menu span {
  display: block;
  width: 24px;
  height: 2px;
  background: var(--primary-color-dark);
  margin: 5px 0;
  transition: 0.3s;
}

/* Hamburger animation */
.hamburger-toggle:checked ~ .hamburger-menu span:nth-child(1) {
  transform: rotate(401deg) translate(4px, 4px);
}
.hamburger-toggle:checked ~ .hamburger-menu span:nth-child(2) {
  opacity: 0;
}
.hamburger-toggle:checked ~ .hamburger-menu span:nth-child(3) {
  transform: rotate(-45deg) translate(6px, -6px);
}

.sidebar-menu {
  position: fixed;
  top: 0;
  right: 0;
  height: 100vh;
  width: 70%;
  background: var(--bg-color-dark);
  transform: translateX(100%);
  transition: transform 0.3s ease-in-out;
  padding-top: 4rem;
  z-index: 1100;
}

.sidebar-menu ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding: 1rem;
}

.sidebar-menu a {
  color: var(--primary-color-dark);
  font-size: 1.2rem;
  font-weight: 500;
}

.hamburger-toggle:checked ~ .sidebar-menu {
  transform: translateX(0);
}

.nav-links {
  display: none;
}

.no-scroll {
  overflow: hidden;
  height: 100vh;
}

.myName {
  margin-left: 1rem;
  margin-right: 0.5rem;
}

@media screen and (min-width: 700px) {
  .hamburger-menu,
  .sidebar-menu {
    display: none;
  }

  .nav-links {
    display: flex;
    align-items: center;
    gap: 1rem;
    list-style: none;
  }

  #themeBtn {
    font-size: 1rem;
  }

  .main-nav {
    padding: 0.5rem 3rem;
    flex-wrap: wrap;
    justify-content: space-between;
  }
}
