.main-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--bg-color-dark);
  color: var(--primary-color-dark);
  padding: 0.75rem 2rem;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

html.light .main-nav {
  background-color: var(--bg-color-light);
  color: var(--primary-color-light);
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.main-nav a,
.main-nav p {
  color: var(--primary-color-dark);
  font-weight: 600;
}

html.light .main-nav a,
html.light .main-nav p {
  color: var(--primary-color-light);
}

.main-nav a:hover,
.main-nav a:focus {
  text-decoration: underline;
}

.hamburger-menu {
  display: block;
  cursor: pointer;
  z-index: 1101;
  background: none;
  border: none;
  padding: 0.5rem;
}

.hamburger-menu span {
  display: block;
  width: 24px;
  height: 2px;
  background: var(--primary-color-dark);
  margin: 5px 0;
  transition: 0.3s;
}

.hamburger-toggle {
  display: none;
}

.hamburger-menu.open span:nth-child(1) {
  transform: rotate(405deg) translate(4px, 4px);
}

.hamburger-menu.open span:nth-child(2) {
  opacity: 0;
}

.hamburger-menu.open span:nth-child(3) {
  transform: rotate(-45deg) translate(6px, -6px);
}

.hamburger-toggle {
  display: none;
}

html.light .hamburger-menu span {
  background: var(--primary-color-light);
}

.sidebar-menu {
  position: fixed;
  top: 0;
  right: 0;
  height: 100vh;
  /* width: 70%; */
  width: 96%;
  background: var(--bg-color-dark);
  transform: translateX(100%);
  transition: transform 0.3s ease-in-out;
  padding-top: 4rem;
  z-index: 1100;
}

html.light .sidebar-menu {
  background: var(--bg-color-light);
}

.sidebar-menu.open {
  transform: translateX(0);
}

.sidebar-menu ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding: 1rem;
}

.sidebar-menu a {
  font-size: 1.2rem;
  font-weight: 600;
  color: var(--primary-color-dark);
}

html.light .sidebar-menu a {
  color: var(--primary-color-light);
}

.nav-links {
  display: none;
}

#themeBtn {
  border: none;
  cursor: pointer;
  width: 32px;
  height: 32px;
}

html.light #themeBtn {
  background-color: var(--bg-color-light);
}

html.dark #themeBtn {
  background-color: var(--bg-color-dark);
}

@media screen and (min-width: 700px) {
  .hamburger-menu,
  .sidebar-menu {
    display: none;
  }

  .nav-links {
    display: flex;
    align-items: center;
    gap: 1rem;
    list-style: none;
  }

  .main-nav {
    padding: 1rem 3rem;
    flex-wrap: wrap;
  }
}
