.avatar {
  width: 180px;
  height: 180px;
  object-fit: cover;
  border-radius: 50%;
  background: var(--highlight-gradient);
  padding: 0.3rem;
  opacity: 0.8;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

@media screen and (min-width: 768px) {
  .avatar {
    width: 250px;
    height: 250px;
  }
}
