@import url('https://fonts.googleapis.com/css2?family=Coming+Soon&display=swap');
:root {
  --primary-color: #147cb8;
  --text-dark: #333;
  --primary-font: Arial, Helvetica, sans-serif;
  --secondary-font: 'Coming Soon', cursive;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: var(--primary-font);
  color: var(--text-dark);
}

h1,
h2 {
  font-family: var(--secondary-font);
  letter-spacing: 0.05em;
  margin: 0;
}

h1 {
  font-size: 2.5rem;
  color: var(--text-dark);
}

h2 {
  font-size: 2rem;
  color: var(--primary-color);
}

img {
  max-width: 100%;
}

header {
  border-bottom: 2px solid gray;
  padding: 1rem;
}

.title {
  display: flex;
  justify-content: center;
  align-items: baseline;
  gap: 0;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.title img {
  width: 4rem;
}

.search form {
  display: flex;
  justify-content: center;
  max-width: 600px;
  margin: 5px auto;
}

.search input[type='search'] {
  flex: 1;
  border: 1px solid #000;
  border-radius: 7px 0 0 7px;
  font-size: 1.1rem;
  padding: 0.5rem;
}

.search button {
  border: 1px solid #000;
  border-left: none;
  border-radius: 0 7px 7px 0;
  background: none;
  cursor: pointer;
  padding: 0 0.75rem;
}

.search button img {
  width: 24px;
}

main {
  padding: 1.5rem;
}

.recipes {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.recipe {
  display: flex;
  flex-direction: column;
  border: 1px solid #000;
  border-radius: 7px;
  overflow: hidden;
}

.recipe img {
  width: 100%;
  object-fit: cover;
  padding: 1.5rem 1.5rem 0 1.5rem;
}

.info {
  padding: 0.5rem 1rem 3rem 1.5rem;
}

.tags {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
  font-size: 1.25rem;
  color: var(--text-dark);
  margin-bottom: 1.75rem;
}

.tags div {
  border: 1px solid #000;
  padding: 0.25rem 0.5rem;
}

.rating {
  font-size: 1.25rem;
  margin: 0.5rem 0;
}

.description {
  display: none;
  margin-top: 1rem;
}

footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem 1.5rem;
  gap: 0;
}

.social {
  display: flex;
  gap: 0.5rem;
}

.social img {
  width: 50px;
}

.attribution {
  font-size: 0.75rem;
  text-align: center;
  margin-top: 5px;
}

.attribution > a {
  text-decoration: none;
  color: var(--primary-color);
}

@media screen and (min-width: 600px) {
  .recipe {
    flex-direction: row;
  }

  .recipe img {
    width: 300px;
    height: auto;
    padding: 1.5rem 1.5rem 1rem 1.5rem;
  }

  .info {
    padding: 1.5rem 1rem 3rem 0;
  }

  .description {
    display: block;
  }

  footer {
    flex-direction: row-reverse;
    justify-content: space-between;
  }

  .attribution > a {
    font-size: smaller;
  }
}

@media (min-width: 960px) {
  main,
  header,
  footer {
    max-width: 960px;
    margin: 0 auto;
  }
}
