@import url('https://fonts.googleapis.com/css2?family=family=Mooli&display=swap');

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --primary-color: #52489c;
  --secondary-color: #59c3c3;
  --accent-color: #f45b69;
  --text-dark: #333;
  --text-light: #ebebeb;
  --primary-font: Arial, Helvetica, sans-serif;
  --secondary-font: Mooli, san-serif;
}

img {
  width: 250px;
  height: 250px;
  max-width: 100%;
  object-fit: cover;
  border: 6px solid white;
  box-shadow: 4px 4px 8px rgba(16, 16, 16, 0.863);
}

/* menu setting for small and medium devices (phone & tablet)*/
header button {
  background: none;
  border: none;
  padding: 0;
  font: inherit;
  color: inherit;
  cursor: pointer;
}

body {
  font-family: var(--primary-font);
  font-size: 1.2em;
}

header {
  background-color: #51489c;
  color: var(--text-light);
  text-align: center;
  padding: 20px 0;
}

main {
  text-align: center;
  background-color: var(--text-light);
}

main h2 {
  padding-top: 20px;
  font-family: var(--secondary-font);
}

.gallery {
  display: grid;
  grid-template-columns: 1fr;
  gap: 20px;
  padding-top: 20px;
  padding-bottom: 20px;
}

footer {
  background-color: #51489c;
  color: var(--text-light);
  padding-left: 10%;
  padding-top: 20px;
  padding-bottom: 20px;
}

a:link,
a:visited {
  color: var(--accent-color);
}

@media (min-width: 700px) {
  .gallery {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
  }
}

@media (min-width: 1000px) {
  .gallery {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
  }

  header button {
    display: none;
  }
}
