:root {
  --bg-color-dark: #121212;
  --primary-color-dark: #ffffff;

  --bg-color-light: #f8f8f8;
  --primary-color-light: #1c1c1c;

  --card-color: #353535;
  --secondary-color: #9f9f9f;

  --highlight-gradient: linear-gradient(
    87deg,
    rgba(131, 58, 180, 1) 0%,
    rgba(253, 29, 29, 1) 50%,
    rgba(252, 176, 69, 1) 100%
  );
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  color: inherit;
  text-decoration: none;
}

html,
body {
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

html {
  overflow-y: scroll;
}

body {
  background-color: var(--bg-color-dark);
  color: var(--primary-color-dark);
  transition: background-color 0.3s ease, color 0.3s ease;
  scrollbar-width: none;
  -ms-overflow-style: none;
}

body::-webkit-scrollbar {
  display: none;
}

body.light {
  background-color: var(--bg-color-light);
  color: var(--primary-color-light);
}

main {
  margin-top: 10vh;
  margin-bottom: 10vh;
  /* min-height: calc(100vh - 18vh); */
  min-height: 82vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* align-items: stretch; */
}

main > * {
  animation: fade 0.8s ease-in-out;
}

h1 {
  font-size: clamp(2rem, 5vw, 4rem);
}

p {
  color: var(--secondary-color);
  font-size: 1rem;
  line-height: 1.6;
}

@keyframes fade {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
