@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&family=Mooli&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Roboto&display=swap');

:root {
  --primary-color: #af1b3f;
  --secondary-color: #473144;
  --accent-color: #efc69b;
  --primary-font: Helvetica, Arial, sans-serif;
  --secondary-font: Lora, Impact, serif;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow-x: hidden;
}

.skiptocontent a {
  position: absolute;
  top: -40px;
}

.skiptocontent a:focus {
  top: 0;
  left: 0;
  position: absolute;
  z-index: 1000;
  background-color: var(--accent-color);
  color: #000;
  padding: 10px 20px;
  text-decoration: none;
}

header > h1 {
  text-align: center;
  padding: 40px;
}

nav > ul {
  display: grid;
  grid-template-columns: 75px 75px 75px;
  justify-content: end;
  justify-items: end;
  border-top: 2px solid var(--accent-color);
  border-bottom: 2px solid var(--accent-color);
  padding: 20px 60px;
  list-style: none;
}

nav > ul li {
  max-width: 90%;
  margin: 0 auto;
}

ul a {
  text-decoration: none;
  color: var(--primary-color);
  font-size: large;
}

body {
  font-family: var(--primary-font);
  color: var(--secondary-color);
  background-color: #fff;
  line-height: 1.6;
}

h1,
h2 {
  font-family: var(--secondary-font);
}

h1 {
  color: var(--secondary-color);
}

h2 {
  color: var(--primary-color);
  margin-bottom: 1rem;
}

main {
  display: grid;
  grid-template-columns: 2fr 1fr;
  gap: 2rem;
  max-width: 1200px;
  margin: 0 auto;
  padding: 2rem;
  max-width: 1200px;
  margin: 0 auto;
}

article {
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 1rem;
  margin-bottom: 3rem;
  align-items: start;
}

article > header {
  text-align: end;
  padding: 1rem;
}

article > div {
  padding: 0.5rem;
  border-left: 1px solid var(--accent-color);
}

figure {
  display: flex;
  flex-direction: column;
  margin: 0;
}
figure img {
  transform: scale(0.8);
  align-self: center;
}

figcaption {
  font-style: italic;
  font-size: 0.9rem;
  margin-top: 0.5rem;
}

article p,
article li {
  margin-bottom: 0.5rem;
}
