*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

html {
  scroll-behavior: smooth;
}

.title {
  position: top;
  background-color: azure;
}

h1,
h2 {
  text-align: center;
}

details > summary {
  padding: 8px;
  /* width: 200px; */
  width: 100%;
  background-color: #eeeeee;
  border: none;
  margin-bottom: 5px;
  box-shadow: 1px 1px 2px #bbbbbb;
  cursor: pointer;
}

details > p {
  background-color: #eeeeee;
  /* padding: 4px; */
  padding: 20px;
  margin-bottom: 5px;
  width: auto;
  max-width: 75ch;
  line-height: 1.6;
  box-shadow: 1px 1px 2px #bbbbbb;
  /* text-align: justify; */
  text-align: justify;
  /* text-wrap: balance; */
  text-wrap-mode: wrap;
  letter-spacing: 0.02em;
  /* text-indent: 1.5em; */
}

details:open {
  summary {
    background-color: rgba(43, 153, 226, 0.473);
  }
}
