footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  z-index: 1000;
  min-height: 8vh;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  padding: 1rem;
  text-align: center;
  gap: 0.7rem;
  background-color: var(--bg-color-dark);
  color: var(--primary-color-dark);
  border-top: 1px solid rgba(255, 255, 255, 0.1);
}

body.light footer {
  background-color: var(--bg-color-light);
  color: var(--primary-color-light);
  border-top: 1px solid rgba(0, 0, 0, 0.1);
}

footer p {
  font-size: 1rem;
  color: var(--primary-color-dark);
}

body.light footer p {
  color: var(--primary-color-light);
}

footer p a {
  color: var(--primary-color-dark);
  font-weight: 600;
}

body.light footer p a {
  color: var(--primary-color-light);
}

footer a {
  padding: 12px 16px;
  display: inline-block;
}

footer p a:hover,
footer p a:focus {
  color: rgb(253, 29, 29);
  text-decoration: underline;
}

footer span {
  background: var(--highlight-gradient);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text; /* Firefox support */
}
