footer {
  position: fixed;
  /* position: absolute; */
  bottom: 0;
  /* left: 0; */
  width: 100%;
  z-index: 1000;
  min-height: 8vh;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  padding: 1rem;
  text-align: center;
  gap: 0.7rem;
  background-color: var(--bg-color-dark);
}

/* footer p,
footer a {
  font-size: 1rem;
  color: var(--primary-color-dark);
} */

footer p a {
  font-size: 1rem;
  color: var(--primary-color-dark);
}

footer p a:hover {
  color: rgb(253, 29, 29);
}

p > span {
  background: var(--highlight-gradient);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text; /* For Firefox */
}
