@import url('https://fonts.googleapis.com/css2?family=Segoe+UI&family=Roboto&display=swap');

#content {
    max-width: 1600px;
    margin: 0 auto;
    box-sizing: border-box;
}

body {
    background-color: #ffffff;
    font-family: "Roboto", Helvetica, sans-serif;
    font-size: 22px;
    margin: 0;
    padding: 0;
}

header {
    background-color: white;
    display: grid;
    grid-template-columns: 150px auto;
}

nav {
    display: flex;
    justify-content: right;
    margin-left: 3em;
}

nav a {
    text-align: center;
    color: #789a79;
    text-decoration: none;
    padding: 10px 35px 10px 35px;
    align-self: flex-end;
}

nav a:hover {
    background-color: #00577b;
    color: white;
}

.logo-box {
    display: flex;
    flex-direction: row;
}

.logo {
    display: flex;
    width: 80px;
    margin-left: 2em;
    margin-right: 0;

}

.logo-text {
    display: flex;
    align-items: flex-end;
    color: #789a79;
    margin-left: 0;
    margin-right: -5em;
    margin-bottom: 0.5em;
    font-family: "Segoe UI", sans-serif;
}


/* about-us-grid */
.about-us-grid {
    display: grid;
    grid-template-columns: repeat(10, 1fr);

}

#hero-img {
    width: 100%;
    opacity: 1.0;
    /* margin-top: -10px; */
   
}

#hero-text {
    text-align: center;
    margin-top: 2em;
    margin-bottom: -0.7em;
    padding: 0.5em;
    color: #00577b;
    font-weight: bold;
    font-size: 2em;
}

#about-us-text {
    grid-column: 2 / 10;
    grid-row: 1 / 2;
    text-align: center;
    background-color: rgb(0, 87, 123, .7);
    color: white;
    border-radius: 1em;
    margin-top: -32em;
    margin-bottom: 10em;
    padding: 2em;    
}





.icon {
    width: 80px;
    padding-top: 10px;
}


.home-title {
    color: #789a79;
    font-family: "Segoe UI", sans-serif;
    font-size: 2em;
    margin-top: 10px;
}


h4 {
    color: #789a79;
}


h2 {
    margin: 0;
}



/* footer */
footer {
    background-color: white;
    border-top: 0.3em solid #b59848;
    padding: 25px 50px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.footer-copy-right-and-author-link {
    color: #b59848;
    font-size: 0.9em;

}

.footer-site-plan-link a {
    color: #b59848;
    font-size: 1.2em;
}

.footer-plants-link a {
    color: #b59848;
    font-size: 1.2em;
}

.footer-contact-us-link a {
    color: #b59848;
    font-size: 1.2em;
}


footer a {
    text-decoration: none;
}

footer p a:hover {
    color: #00577b;
    text-decoration: underline;
}

footer .social img {
    padding-top: 15px;
}


/* page selector mark to let the user know where they are in the navigation menu. */
#body-about-us-page .about-us-link {
    font-weight: bold;
    text-decoration: overline #b59848;
}