:root {
  --bar-height: 0.5rem;
  --bar-width: calc(var(--bar-height) * 16 / 3);
  --hamburger-gap: calc(var(--bar-height) / 2);
  --foreground: white;
  --background: #333;
  --hamburger-margin: var(--bar-height);
  --animation-timing: 400ms ease-in-out;
  --hamburger-height: calc(var(--bar-height) * 3 + var(--hamburger-gap) * 2);
  --x-width: calc(var(--hamburger-height) * 1.4142135627);
}

.hamburger-container {
  display: none;
}

@media screen and (max-width: 700px) {
  .hamburger-container {
    display: block;
    position: fixed;
    top: var(--hamburger-margin);
    left: var(--hamburger-margin);
    z-index: 1001;
  }

  .hamburger-menu {
    display: flex;
    flex-direction: column;
    gap: var(--hamburger-gap);
    cursor: pointer;
    width: max-content;
    margin-left: 0.5rem;
    margin-top: 0.5rem;
  }

  .hamburger-menu input {
    display: none;
  }

  .hamburger-menu span {
    display: block;
    width: var(--bar-width);
    height: var(--bar-height);
    background-color: var(--foreground);
    border-radius: 4px;
    transition: var(--animation-timing);
  }

  /* Animation when checked */
  .hamburger-menu input:checked ~ span:nth-child(2) {
    transform: rotate(401deg) translateY(17px);
    width: var(--x-width);
    margin-left: 10px;
  }

  .hamburger-menu input:checked ~ span:nth-child(3) {
    opacity: 0;
  }

  .hamburger-menu input:checked ~ span:nth-child(4) {
    transform: rotate(-45deg) translateY(-16px);
    width: var(--x-width);
    margin-left: 10px;
  }

  /* Sidebar menu hidden by default */
  .sidebar-menu {
    transform: translateX(-110%);
    transition: transform var(--animation-timing);
    position: absolute;

    top: calc(
      var(--bar-height) * 4 + var(--hamburger-gap) * 2 + var(--hamburger-margin)
    );
    left: calc(var(--hamburger-margin) * (-1));
    width: 200px;
    background-color: var(--background);
    color: var(--foreground);
    padding: 1rem;
    z-index: 1000;
    height: 100vh;
  }

  /* Show sidebar when menu toggled */
  .hamburger-menu input:checked ~ .sidebar-menu {
    transform: translateX(0);
  }

  .sidebar-menu ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }

  .sidebar-menu li {
    margin-bottom: 1rem;
  }

  .sidebar-menu a {
    color: white;
    font-size: 1.2rem;
    text-decoration: none;
  }

  .social {
    display: flex;
    justify-content: flex-end;
    gap: 1rem;
    margin-top: 1rem;
  }
}
